.botao {
    width: 130px;
    height: 35px;
    border: 1px solid rgba(126, 125, 125, 0.5);
    border-radius: 5px;
    background-color: rgb(0, 110, 255);
    color: white;
    font-size: 14px;
}

.botao:hover {
    background-color: #0ccf0c;
}

#val1 {
    width: 50px;
    height: 30px;
}

#val2 {
    width: 50px;
    height: 30px;
}

legend {
    border: 2px solid rgb(0, 110, 255);
    height: 27px;
    width: 122px;
    font-size: 25px;
}

fieldset {
    border-color: rgb(0, 110, 255);
}